.Main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Map {
    width: 85%;
    height: max-content;
    margin: 0px auto;
}

.BottomBar {
    margin: 0px auto;
    height: 100px;
    width: 86%;
    background-color: #774242;
    margin-top: -5%;
}

.BottomBar span {
    color: white;
}

.CountyData {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.CountyData div {
    display: flex;
    flex-direction: column;
}
.Gradient {
    margin-left: 45%;
    margin-top: -3%;
    height: 100px;
    width: 300px;
}

.GradientBar {
    height: 15px;
    width: 300px;
    border-radius: 10px;
}

.GradientKey {
    font-size: .65vw;
    color: #dddddd;
    display: flex;
    justify-content: space-between;
}
