.App {
  text-align: center;
  width: 100vw;
  background-color: #454545;
}

.TopArea {
  width: 100%;
  height: max-content;
  display: flex;

}

.Maps {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  /* margin-left: auto; */
  margin-right: 0px;
  height: max-content;
}

.MapTitle {
  color: #dddddd;
  font-size: 1.5vw;
  font-weight: 600;
}

.Progress {
  width: 20%;
  padding-bottom: 20px;
}

.LeftSide {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.Spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
}

.Spinner  {
  color: white;
}

.RigthSideBar {
  background-color: #333333;
  width: 25%;
  flex-direction: column;
  height: max-content;
  padding-bottom: 50px;
  margin: 15px;
  margin-top: -85px;
}

.Title {
  color: #dddddd;
  font-size: 3vw;
  font-weight: 600;
  width: 80%;
  height: 100px;
  text-decoration: underline;
}

.RightSideTitle {
  font-size: 1.5vw;
  width: 100%;
  display: block;
  margin-top: 10%;
  font-weight: 700;
}

.RightSideNumber {
  font-size: 3.5vw;
  width: 100%;
  display: block;
  font-weight: 600;
}

.RightSideIncrease {
  font-size: .8vw;
  width: 100%;
  display: block;
  margin-bottom: 15%;
  font-weight: 700;
}

.RetrievingData {
  font-size: 1vw;
}

.BottomData {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3.5%;
}

.BottomData span {
  color: #dddddd;
  text-align: left;
}

.BottomData span:nth-child(1) {
  font-size: 2vw;
  font-weight: 600;
}
